# GlobalProperties:
db.allophonesDir /home/ali28729/Downloads/marytts/wiki/myvoice/allophones/
db.basenameFile /home/ali28729/Downloads/marytts/wiki/myvoice/basenames.lst
db.domain general
db.estDir /usr/
db.gender male
db.halfphoneFeatureDir /home/ali28729/Downloads/marytts/wiki/myvoice/halfphonefeatures/
db.halfphoneLabDir /home/ali28729/Downloads/marytts/wiki/myvoice/halfphonelab/
db.hplabExtension .hplab
db.labDir /home/ali28729/Downloads/marytts/wiki/myvoice/htk/lab/
db.labExtension .lab
db.locale nls
db.maryServerHost localhost
db.maryServerPort 59125
db.marybase /home/ali28729/Downloads/marytts
db.marybaseversion 5.2
db.maryxmlDir /home/ali28729/Downloads/marytts/wiki/myvoice/rawmaryxml/
db.maryxmlExtension .xml
db.phoneFeatureDir /home/ali28729/Downloads/marytts/wiki/myvoice/phonefeatures/
db.phoneLabDir /home/ali28729/Downloads/marytts/wiki/myvoice/phonelab/
db.pmDir /home/ali28729/Downloads/marytts/wiki/myvoice/pm/
db.pmExtension .pm
db.promptAllophonesDir /home/ali28729/Downloads/marytts/wiki/myvoice/prompt_allophones/
db.ptcDir /home/ali28729/Downloads/marytts/wiki/myvoice/ptc/
db.ptcExtension .ptc
db.rootDir /home/ali28729/Downloads/marytts/wiki/myvoice/
db.samplingrate 16000
db.textDir /home/ali28729/Downloads/marytts/wiki/myvoice/text/
db.textExtension .txt
db.vocalizationsDir /home/ali28729/Downloads/marytts/wiki/myvoice/vocalizations/
db.voicename my_voice
db.wavDir /home/ali28729/Downloads/marytts/wiki/myvoice/wav/

# Properties for module PraatPitchmarker:
PraatPitchmarker.command praat --run
PraatPitchmarker.maxPitch 300
PraatPitchmarker.minPitch 75
PraatPitchmarker.pmDir /home/ali28729/Downloads/marytts/wiki/myvoice/pm/
PraatPitchmarker.waveDir /home/ali28729/Downloads/marytts/wiki/myvoice/wav/

# Properties for module MCEPMaker:
MCEPMaker.mcepDir /home/ali28729/Downloads/marytts/wiki/myvoice/mcep/

# Properties for module Festvox2MaryTranscripts:
Festvox2MaryTranscripts.transcriptFile /home/ali28729/Downloads/marytts/wiki/myvoice/txt.done.data

# Properties for module AllophonesExtractor:
AllophonesExtractor.styleDefinitionFile 

# Properties for module EHMMLabeler:
EHMMLabeler.doAlignment true
EHMMLabeler.doTraining true
EHMMLabeler.eDir /home/ali28729/Downloads/marytts/wiki/myvoice/ehmm/
EHMMLabeler.ehmmDir /project/mary/Festival/festvox/src/ehmm/
EHMMLabeler.nonDetEndFlag 0
EHMMLabeler.outputLabDir /home/ali28729/Downloads/marytts/wiki/myvoice/lab/
EHMMLabeler.prepareFiles true
EHMMLabeler.promtallophonesDir /home/ali28729/Downloads/marytts/wiki/myvoice/prompt_allophones/
EHMMLabeler.reTrainFlag false
EHMMLabeler.startEHMMModelDir /

# Properties for module HTKLabeler:
HTKLabeler.awkbin /usr/bin/awk
HTKLabeler.htDir /home/ali28729/Downloads/marytts/wiki/myvoice//htk/
HTKLabeler.htkDir /usr/local/bin/
HTKLabeler.maxNoOfIterations 150
HTKLabeler.maxshortPauseIteration 10
HTKLabeler.outputLabDir /home/ali28729/Downloads/marytts/wiki/myvoice//htk/lab/
HTKLabeler.promtallophonesDir /home/ali28729/Downloads/marytts/wiki/myvoice//prompt_allophones/

# Properties for module LabelPauseDeleter:
LabelPauseDeleter.eDir /home/ali28729/Downloads/marytts/wiki/myvoice/ehmm/
LabelPauseDeleter.outputLabDir /home/ali28729/Downloads/marytts/wiki/myvoice/lab/
LabelPauseDeleter.pauseDurationThreshold 100

# Properties for module LabelledFilesInspector:

# Properties for module PhoneUnitLabelComputer:

# Properties for module HalfPhoneUnitLabelComputer:
HalfPhoneUnitLabelComputer.energyBasedTransientSplitting false

# Properties for module TranscriptionAligner:

# Properties for module FeatureSelection:
FeatureSelection.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/features.txt
FeatureSelection.maryServerHost localhost
FeatureSelection.maryServerPort 59125

# Properties for module PhoneUnitFeatureComputer:
PhoneUnitFeatureComputer.allophonesDir /home/ali28729/Downloads/marytts/wiki/myvoice/allophones/
PhoneUnitFeatureComputer.featureDir /home/ali28729/Downloads/marytts/wiki/myvoice/phonefeatures/
PhoneUnitFeatureComputer.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/features.txt
PhoneUnitFeatureComputer.maryServerHost localhost
PhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module HalfPhoneUnitFeatureComputer:
HalfPhoneUnitFeatureComputer.allophonesDir /home/ali28729/Downloads/marytts/wiki/myvoice/allophones/
HalfPhoneUnitFeatureComputer.featureDir /home/ali28729/Downloads/marytts/wiki/myvoice/halfphonefeatures/
HalfPhoneUnitFeatureComputer.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/features.txt
HalfPhoneUnitFeatureComputer.maryServerHost localhost
HalfPhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module PhoneLabelFeatureAligner:

# Properties for module HalfPhoneLabelFeatureAligner:

# Properties for module WaveTimelineMaker:
WaveTimelineMaker.waveTimeline /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_waveforms.mry

# Properties for module BasenameTimelineMaker:
BasenameTimelineMaker.timelineFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_basenames.mry

# Properties for module MCepTimelineMaker:
MCepTimelineMaker.mcepDir /home/ali28729/Downloads/marytts/wiki/myvoice/mcep/
MCepTimelineMaker.mcepTimeline /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_mcep.mry

# Properties for module PhoneUnitfileWriter:
PhoneUnitfileWriter.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneUnits.mry

# Properties for module PhoneFeatureFileWriter:
PhoneFeatureFileWriter.featureDir /home/ali28729/Downloads/marytts/wiki/myvoice/phonefeatures/
PhoneFeatureFileWriter.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneFeatures.mry
PhoneFeatureFileWriter.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneUnits.mry
PhoneFeatureFileWriter.weightsFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneUnitFeatureDefinition.txt

# Properties for module DurationCARTTrainer:
DurationCARTTrainer.durTree /home/ali28729/Downloads/marytts/wiki/myvoice/mary/dur.tree
DurationCARTTrainer.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneFeatures.mry
DurationCARTTrainer.isHnmTimeline false
DurationCARTTrainer.stepwiseTraining false
DurationCARTTrainer.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneUnits.mry
DurationCARTTrainer.waveTimeline /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_waveforms.mry

# Properties for module F0CARTTrainer:
F0CARTTrainer.f0LeftTreeFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/f0.left.tree
F0CARTTrainer.f0MidTreeFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/f0.mid.tree
F0CARTTrainer.f0RightTreeFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/f0.right.tree
F0CARTTrainer.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneFeatures.mry
F0CARTTrainer.isHnmTimeline false
F0CARTTrainer.stepwiseTraining false
F0CARTTrainer.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/phoneUnits.mry
F0CARTTrainer.waveTimeline /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_waveforms.mry

# Properties for module HalfPhoneUnitfileWriter:
HalfPhoneUnitfileWriter.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnits.mry

# Properties for module HalfPhoneFeatureFileWriter:
HalfPhoneFeatureFileWriter.featureDir /home/ali28729/Downloads/marytts/wiki/myvoice/halfphonefeatures/
HalfPhoneFeatureFileWriter.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneFeatures.mry
HalfPhoneFeatureFileWriter.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnits.mry
HalfPhoneFeatureFileWriter.weightsFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnitFeatureDefinition.txt

# Properties for module F0PolynomialFeatureFileWriter:
F0PolynomialFeatureFileWriter.f0FeatureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/syllableF0Polynomials.mry
F0PolynomialFeatureFileWriter.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneFeatures.mry
F0PolynomialFeatureFileWriter.interpolate true
F0PolynomialFeatureFileWriter.isHnmTimeline false
F0PolynomialFeatureFileWriter.maxPitch 300
F0PolynomialFeatureFileWriter.minPitch 75
F0PolynomialFeatureFileWriter.polynomOrder 3
F0PolynomialFeatureFileWriter.showGraph false
F0PolynomialFeatureFileWriter.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnits.mry
F0PolynomialFeatureFileWriter.waveTimeLine /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_waveforms.mry

# Properties for module AcousticFeatureFileWriter:
AcousticFeatureFileWriter.acFeatDef /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnitFeatureDefinition_ac.txt
AcousticFeatureFileWriter.acFeatureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneFeatures_ac.mry
AcousticFeatureFileWriter.contourFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/syllableF0Polynomials.mry
AcousticFeatureFileWriter.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneFeatures.mry
AcousticFeatureFileWriter.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnits.mry

# Properties for module JoinCostFileMaker:
JoinCostFileMaker.acfeatureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneFeatures_ac.mry
JoinCostFileMaker.joinCostFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/joinCostFeatures.mry
JoinCostFileMaker.mcepDir /home/ali28729/Downloads/marytts/wiki/myvoice/mcep/
JoinCostFileMaker.mcepTimeline /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_mcep.mry
JoinCostFileMaker.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnits.mry
JoinCostFileMaker.weightsFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/joinCostWeights.txt

# Properties for module CARTBuilder:
CARTBuilder.acFeatureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneFeatures_ac.mry
CARTBuilder.callWagon false
CARTBuilder.cartFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/cart.mry
CARTBuilder.featureSeqFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/featureSequence.txt
CARTBuilder.maxLeafSize 10000000
CARTBuilder.mcepTimeline /home/ali28729/Downloads/marytts/wiki/myvoice/mary/timeline_mcep.mry
CARTBuilder.numProcesses 1
CARTBuilder.readFeatureSequence true
CARTBuilder.topLevelTreeFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/topLevel.tree
CARTBuilder.unitFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/halfphoneUnits.mry

# Properties for module HMMVoiceDataPreparation:
HMMVoiceDataPreparation.adaptScripts false
HMMVoiceDataPreparation.userRawDirectory 
HMMVoiceDataPreparation.userUttDirectory 

# Properties for module HMMVoiceConfigure:
HMMVoiceConfigure.adaptF0Ranges 'bdl 40 210 clb 130 260 jmk 50 180 rms 40 200 slt 110 280'
HMMVoiceConfigure.adaptHead b05
HMMVoiceConfigure.adaptScripts false
HMMVoiceConfigure.adaptSpkr slt
HMMVoiceConfigure.adaptSpkrMask */cmu_us_arctic_%%%_*
HMMVoiceConfigure.adaptTrainSpkr 'bdl clb jmk rms'
HMMVoiceConfigure.adaptTransKind feat
HMMVoiceConfigure.adaptTreeKind dec
HMMVoiceConfigure.configureFile /home/ali28729/Downloads/marytts/wiki/myvoice/hts/configure
HMMVoiceConfigure.dataSet cmu_us_arctic
HMMVoiceConfigure.fftLen 512
HMMVoiceConfigure.frameLen 400
HMMVoiceConfigure.frameShift 80
HMMVoiceConfigure.freqWarp 0.42
HMMVoiceConfigure.gamma 0
HMMVoiceConfigure.lf0BandWidth 1
HMMVoiceConfigure.lnGain 1
HMMVoiceConfigure.lowerF0 110
HMMVoiceConfigure.mgcBandWidth 35
HMMVoiceConfigure.mgcOrder 34
HMMVoiceConfigure.normalize 1
HMMVoiceConfigure.numIterations 5
HMMVoiceConfigure.numState 5
HMMVoiceConfigure.numTestFiles 5
HMMVoiceConfigure.questionsNum 001
HMMVoiceConfigure.sampfreq 16000
HMMVoiceConfigure.speaker slt
HMMVoiceConfigure.strBandWidth 5
HMMVoiceConfigure.strFilterFileName filters/mix_excitation_5filters_99taps_16Kz.txt
HMMVoiceConfigure.strOrder 5
HMMVoiceConfigure.upperF0 280
HMMVoiceConfigure.version 1
HMMVoiceConfigure.windowType 1

# Properties for module HMMVoiceFeatureSelection:
HMMVoiceFeatureSelection.featureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/features.txt
HMMVoiceFeatureSelection.hmmFeatureFile /home/ali28729/Downloads/marytts/wiki/myvoice/mary/hmmFeatures.txt

# Properties for module HMMVoiceMakeData:
HMMVoiceMakeData.adaptScripts false
HMMVoiceMakeData.featureListFile mary/hmmFeatures.txt
HMMVoiceMakeData.featureListMapFile mary/hmmFeaturesMap.txt
HMMVoiceMakeData.makeCMPMARY 1
HMMVoiceMakeData.makeLABELMARY 1
HMMVoiceMakeData.makeLF0 1
HMMVoiceMakeData.makeLIST 1
HMMVoiceMakeData.makeMGC 1
HMMVoiceMakeData.makeQUESTIONSMARY 1
HMMVoiceMakeData.makeSCP 1
HMMVoiceMakeData.makeSTR 1
HMMVoiceMakeData.questionsFile hts/data/questions/questions_qst001.hed
HMMVoiceMakeData.questionsUttFile hts/data/questions/questions_utt_qst001.hed
HMMVoiceMakeData.trickyPhonesFile mary/trickyPhones.txt

# Properties for module HMMVoiceMakeVoice:

# Properties for module VoiceCompiler:
VoiceCompiler.compileDir /home/ali28729/Downloads/marytts/wiki/myvoice/mary/voice-my_voice/
VoiceCompiler.mavenBin /usr/bin/mvn

# Properties for module HMMVoiceCompiler:
HMMVoiceCompiler.compileDir /home/ali28729/Downloads/marytts/wiki/myvoice/mary/voice-my_voice-hsmm/
HMMVoiceCompiler.mavenBin /usr/bin/mvn

